.claude/
.idea/
J-PhotoGalleryApp/.gradle/
J-PhotoGalleryApp/.idea/
J-PhotoGalleryApp/build/
J-PhotoGalleryApp/app/build/
k-PhotoGalleryApp/.gradle/
k-PhotoGalleryApp/.idea/
k-PhotoGalleryApp/build/
k-PhotoGalleryApp/app/build/